
 h1{
    color:red;
    margin-bottom: 0%;
}
h1, h3{
    margin-bottom: 0%;
    margin-top:0%;
}
.game-container{
    border:2px solid rgb(8, 68, 8);
    border-radius:4%;
    background-color: yellowgreen;
    display:grid;
    grid-template-areas: "score";
    width: 100%;
    height: 90vh;
}
.titles{
    background-color: rgb(220, 241, 31);
    display:flex;
    margin-left:80%;
    flex-direction: column;
    align-items: center;
    height: 100px; 
    width:100%;
}
.scorecontainer{
    background-color: gold;
    width:100%;
    display:flex; 
    margin:auto; 

 }
.score, .high-score{
    grid-area:score;
    float:left;
}
.reset-btn{
    background-color: white;
    grid-area:reset;
    height:30px;
    float:right;
}
.input-number-container{
    background-color: silver;
    grid-area:input;
    height:60px;
    width:100%;
}
.guess-history{
    background-color: indigo;
    grid-area:guess;
    height:60px;
    float:left;
    width:30%;
}
 
.input-number-container{
    border:2px solid salmon;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:50%;
}
